NEXT_PUBLIC_API_URL=NEXT_PUBLIC_API

NEXT_PUBLIC_PATIENT_REGISTRY_ADDRESS=Registry_Address
NEXT_PUBLIC_DATA_ACCESS_ADDRESS=DATA_ACCESS_ADDRESS
NEXT_PUBLIC_CHAIN_ID=Chain_ID

NEXT_PUBLIC_PINATA_API_KEY=Pinata_API_KEY
NEXT_PUBLIC_PINATA_SECRET=Pinata_Secret
NEXT_PUBLIC_IPFS_GATEWAY=IPFS_GATEWAY

NEXT_PUBLIC_SUPABASE_URL=Supabase_URL
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=Supabase_Key