# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
.venv/

# Environment variables
.env

# Data files (too large for git)
data/raw/*.vcf.gz
data/raw/*.vcf
data/raw/*.tbi
!data/processed/
!data/models/
data/backup/
!data/raw/README.md

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Documentations
docs/

# Testing
tests/